body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #000;
    color: #00ced1; 
}

header {
    background-color: #333;
    text-align: center;
    padding: 1em 0;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #555;
    padding: 0.5em 0;
}

nav a {
    color: #00ced1;
    text-decoration: none;
    padding: 0.5em 1em;
    margin: 0 1em;
    border-radius: 5px;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: #777;
}

section {
    padding: 2em;
    background-color: #000;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px#777(117, 112, 112, 0);
    box-shadow: 0 0 10px #777(0, 0, 0, 0.1);
}

h2 {
    color: #00ced1;
}



p {
    margin: 0;
}


#home {
    text-align: center;
}

.home-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-image {
    max-width: 20%;
    border-radius: 50%;
    margin-right: 20px; 
}

.text-content {
    text-align: left;
}

.text-content h2 {
    color: #00ced1;;
    margin-bottom: 10px;
    font-size: 3em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    letter-spacing: 2px;
    font-weight: bold; 
}

.text-content p {
    color: #00ced1;;
    font-weight: bold; 
    font-size: 1em;
}
#about {
    padding: 2em;
    background-color: #000; 
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px #777(0, 0, 0, 0.3); 
    border: 2px solid #00ced1; 
    transition: transform 0.3s ease-in-out;
}

#about:hover {
    transform: scale(1.05); 
}

#about h2 {
    color: #00ced1;
    font-weight: bold;
}

#about p {
    color: #fff; 
    line-height: 1.6; 
}



#skills {
    padding: 2em;
    background-color: #000; 
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 
    border: 2px solid #00ced1; 
    display: flex;
    justify-content: space-around; 
    align-items: center; 
 
}
#skills:hover {
    transform: scale(1.05);
}

.skill {
    text-align: center;
    transition: transform 0.3s ease-in-out;
}

.skill img {
    width: 80px; 
    height: 80px;
    border: 2px solid #00ced1;
    border-radius: 50%;
}

.skill img:hover {
    border-color: #fff;
    transform: scale(1.1); 
}

.skill p {
    color: #fff;
}

#skills h2 {
    color: #00ced1;
    font-weight: bold;
    margin-bottom: 20px; 
}


#projects {
    padding: 2em;
    background-color: #000; 
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 
    border: 2px solid #00ced1;
    text-align: center;
}

.project {
    display: inline-block;
    margin: 10px;
    position: relative;
}

.project img {
    width: 400px; 
    height: 350px; 
    border: 2px solid #00ced1; 
    border-radius: 10px; 
    transition: transform 0.3s ease-in-out;
}

.project:hover img {
    transform: scale(1.1);
}

.project-info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease-in-out, background-color 0.3s ease-in-out;
    background-color: rgba(0, 206, 209, 0.8); 
    padding: 10px;
    border-radius: 5px; 
}

.project:hover .project-info {
    opacity: 1; 
}


.project h3 {
    color: black;
    margin-bottom: 5px;
}

.project p {
    color: #fff;
    font-size: 14px;
    margin: 0;
}

#contact {
    padding: 2em;
    background-color: #000; 
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border: 2px solid #00ced1; 
    text-align: center;
}

.contact-info {
    color: #fff; 
    margin-bottom: 20px; 
}

.social-icons {
    display: flex;
    justify-content: center;
}

.social-icons a {
    margin: 0 10px; 
}

.social-icons img {
    width: 30px; 
    height: 30px; 
    border-radius: 50%;
}



